.register-page {
  display: flex;
  height: 100vh;
  animation: fadeIn 1s ease-in-out;

  /* Animation for page load */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* Left Section: Registration Form */
  .left-section {
    flex: 1; /* Smaller section */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a8d5dd;
overflow-y: hidden;
    .register-container {
      background-color: rgba(150, 192, 199, 0.9); /* Semi-transparent background */
      padding: 2rem;
      max-width: 600px;
      border-radius: 10px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
      transition: transform 0.3s ease-in-out; /* Animation for hover effect */

      &:hover {
        transform: translateY(-5px); /* Slight upward movement on hover */
      }

      h1 {
        font-size: 2rem;
        font-weight: bold;

        text-align: center;
      }

      p {
        font-size: 1.125rem;
        color: #4b5563;
        text-align: center;
        margin-bottom: 1.5rem;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        label {
          font-size: 0.9rem;
          color: #424c5d;
        }

        input {
          background-color: #d9d9d9;
          padding: 0.75rem;
          border: 1px solid #d9d9d9;
          border-radius: 35px;
          transition: all 0.3;

          &:hover {
            border-color: #95bdc4;
          }

          &:focus {
            outline: none;
            border-color: #86aab0;
            box-shadow: 0 0 0 3px rgba(72, 111, 120, 0.5);
          }
        }

        button {
          padding: 0.6rem;
          background-color: #7d1e9f;
          color: white;

          border-radius: 35px;
          font-size:  1.5rem ;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: #1e7a8a;
          }
        }
      }
    }
  }

  /* Right Section: Background */
  .right-section {
    flex: 3; /* Larger section */
    background-image: url('../../assets/images/RegisterationBackground .jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* Optional subtle animation for background */
    animation: moveBackground 10s infinite linear;

    @keyframes moveBackground {
      0% {
        background-position: center;
      }
      50% {
        background-position: center right;
      }
      100% {
        background-position: center;
      }
    }
  }
}
