<div class="register-page">
  <!-- Left Section -->
  <div class="left-section">
    <div class="register-container">
      <h1 class="text-white font-bold">Doctor Registration</h1>
      <p class="text-white font-bold">Sign up to join our healthcare platform</p>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <!-- Doctor ID -->
        <label for="doctorId" class="text-white font-bold my-0 mb-0 pb-0">Doctor ID</label>
        <input type="text" id="doctorId" formControlName="doctorId" placeholder="Enter your ID" />
        <!-- Doctor ID Validation -->
        <small *ngIf="(registerForm.get('doctorId')?.touched || submitted) && getError('doctorId')" class="text-danger font-bold">{{ getError('doctorId') }}</small>

        <!-- Name -->
        <label for="name" class="text-white font-bold my-0 mb-0 pb-0">Name</label>
        <input type="text" id="name" formControlName="name" placeholder="Enter your name" />
        <!-- Name Validation -->
        <small *ngIf="(registerForm.get('name')?.touched || submitted) && getError('name')" class="text-danger font-bold">{{ getError('name') }}</small>

        <!-- Email -->
        <label for="email" class="text-white font-bold">Email</label>
        <input type="email" id="email" formControlName="email" placeholder="Enter your email" />
        <!-- Email Validation -->
        <small *ngIf="(registerForm.get('email')?.touched || submitted) && getError('email')" class="text-danger font-bold">{{ getError('email') }}</small>

        <!-- Phone -->
        <label for="phone" class="text-white font-bold">Phone</label>
        <input type="tel" id="phone" formControlName="phone" placeholder="Enter your phone number" />
        <!-- Phone Validation -->
        <small *ngIf="(registerForm.get('phone')?.touched || submitted) && getError('phone')" class="text-danger font-bold">{{ getError('phone') }}</small>

        <!-- Password -->
        <label for="password" class="text-white font-bold">Password</label>
        <input type="password" id="password" formControlName="password" placeholder="Enter your password" />
        <!-- Password Validation -->
        <small *ngIf="(registerForm.get('password')?.touched || submitted) && getError('password')" class="text-danger font-bold">{{ getError('password') }}</small>

        <!-- Confirm Password -->
        <label for="confirm-password" class="text-white font-bold">Confirm Password</label>
        <input type="password" id="confirm-password" formControlName="confirmPassword" placeholder="Confirm your password" />
        <!-- Confirm Password Validation -->
        <small *ngIf="(registerForm.get('confirmPassword')?.touched || submitted) && getError('confirmPassword')" class="text-danger font-bold">{{ getError('confirmPassword') }}</small>

        <button type="submit" class="font-bold">Sign Up</button>
      </form>
    </div>
  </div>

  <!-- Background -->
  <div class="right-section"></div>
</div>