<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
</style>
<div class="home-container">
  <!-- Navbar -->
  <div class="background">
    <nav class="navbar m-auto">
      <div class="logo ml-6 pl-8">
        <img src="../../assets/images/NavbarVector.png" alt="Heart Care Logo">
        <span class="heartcare">Heart Care</span>
      </div>
      <ul class="nav-links navfonts">
        <li><a href="#" routerLink="/patient-home" class="active mr-6 pr-3">Home</a></li>
        <li><a href="#" routerLink="/blog" class="mr-6 pr-3">Blog</a></li>
        <li><a href="#" routerLink="/predict" class="mr-6 pr-3">Heart Disease Predictor</a></li>
        <li><a href="#" routerLink="/patient-consultation" class="mr-6 pr-3">Consult A Doctor</a></li>
        <li><a href="#" routerLink="/patient-profile-information" class="mr-6 pr-3">Profile</a></li>
        <li><a href="#" routerLink="/logout" class="mr-6 pr-3">Log Out</a></li>
      </ul>
    </nav>
    <div class="overlay"></div>
  </div>

  <!-- Content Section -->
  <div class="home-container homema">
    <div class="heart-logo item1 ml-6">
      <img src="../../assets/images/HeartHomePa.png" class="heart-logo" alt="Heart Logo">
    </div>
    <div class="text-section item2">
      <h1 class="head-home">Healing hearts, improving lives</h1>
      <p class="p-home">Your cardiac care is our top priority.</p>
      <a routerLink="/contact" class="contact-btn">Contact us</a>
    </div>
    <div class="semi-rectangle item3">
      <img src="../../assets/images/semiRectangle2.png" class="semi-rectangle" alt="Semi Rectangle">
    </div>
  </div>
</div>