:host {
  display: block;
}

.w-75 {
  width: 75%;
  margin: 0 auto;
}

.pinpuut {
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.fpmargin {
  margin-left: 4rem;
  margin-bottom: 1rem;
}

.paddingloginpass {
  margin-right: 5rem;
}

.padingloginbtn {
  border-radius: 0.5rem;
  margin: 0 auto;
  display: block;
}

.paddinglogin {
  margin-left: 5rem;
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.text-danger {
  color: #a73939;
}