:host {
  display: block;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

/*  background section */
div[style*="background-image"] {
  background-size: cover;
  background-position: center;
}

/*  form container */
.w-full.max-w-sm {

  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

input {
  font-size: 0.875rem;
  font-family: 'Poppins', sans-serif;
  background-color: #bebebe;
  border-radius: 35px;
  padding: 12px 15px;
  border: none;
  width: 100%;
  transition: all 0.3s ease;
}
button{
  border-radius: 35px;
}
input:focus {
  outline: #005a61;
  background-color: #e6f5f5;
  box-shadow: 0 0 10px rgba(0, 109, 119, 0.4);
}


i {
  font-size: 2.5rem;
}


button:hover {
  background-color: #005a61;
  transition: background-color 0.3s ease-in-out;
}


a:hover {
  text-decoration: underline;
}




/* Hover effects for inputs */
input:hover,
input:focus {
  background-color: #e6f5f5;
  box-shadow: 0 0 10px rgba(0, 109, 119, 0.5);
}

button:hover {
  background-color: #005a61;
  transition: background-color 0.3s ease;
}
.userlogin{

border: 5px solid #005a61;
}
h2{

  font-size: 2rem ;
  font-weight: 400px;
  color: rgb(116, 116, 116);
}
.paddinglogin{
  margin-left: 140px;
}
.paddingloginpass{
  margin-left: 320px;
  margin-bottom: 30px;
}
.fpmargin{
  margin-left: 70px
}
